body {
    padding: 0;
    text-align: center;
  }
#welcome-player{
  background-color: lightblue;
  
}
.logo {
    width: 180px;
    height: 180px;
    padding-top: 10px;
    border-radius: 60%;
    border: solid, black;
}
#welcome-player h1 {
    color: burlywood;
}

#welcome-player button {
    background-color: rgb(204, 169, 236);
    border: none;
    border-radius: 100px;
    height: 40px;
}
.instructions img{
height: 80px;
background-color: transparent;
}

#playing-game{
    background-image: url(../images/background\ game.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;   
    border: solid, black
}
#playing-game p{
color:white;
font-weight: bold;
display: flex;
flex-direction: row;
}
#playing-game{
    display:none;
  }

#game-result{
  display: none;
  background-color: rgb(81, 116, 81);
}

#game-result img{
    width: 180px;
    height: 180px;
    border-radius: 60%;
    border: solid, black;
}

#game-result h2{
  color: burlywood;
 
}
    
    